<!doctype html>
<html>
	<head>
		<title>What's Up UCSD?</title>	
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<script src="/js/jquery-1.11.0.js"></script>
		<script src="/js/bootstrap.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css">
		<link rel="stylesheet" type="text/css" href="/css/bubbles.css">
	</head>
	<body>
<<<<<<< HEAD
<<<<<<< HEAD
		<div class="container-fluid" align="center">
			<h1>What's Up With{{#each currTopicParams}} {{this}}{{/each}}?</h1>
=======
=======
>>>>>>> 80d089837021b06ac20b0e253032d432b1ae9128
		<div class="container-f{luid" align="center">
			<h1>What's Up UCSD?</h1>
>>>>>>> 80d089837021b06ac20b0e253032d432b1ae9128
			<div id="table-nav-tabs">
				<ul class="nav nav-tabs">
					<li><a href="./index"> Home </a></li>
					<li><a href="./settings"> Settings </a></li>
					<li><a href="./login"> Login </a></li>
					<li><a href="./newtopic"> Create New Topic </a></li>
				</ul>
			</div>
			<div class="content">
				{{#each topics}}
					<div class="topic">
						<div class="title">
							<a href="{{../currTopicPath}}{{title}}"><h2>{{title}}<h2></a>
						</div>
						{{#each topics}}
							<div class="subtopic">
								<div class="bubble-content">
									{{title}}
								</div>
							<span class="badge">{{nYesses}}</span>
							</div>
						{{/each}}
					</div>
				{{/each}}
			</div>
		</div>
	</body>
</html>