<!doctype html>
<html>
	<head>
		<title>What's Up UCSD?</title>	
		<meta charset="utf-8">
		<meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
		<script src="/js/jquery-1.11.0.js"></script>
		<script src="/js/bootstrap.js"></script>
		<script src="/js/bubbles.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css">
		<link rel="stylesheet" type="text/css" href="/css/bubbles.css">
	</head>
	<body>
		<div class="container" align="center">
			<nav class="page-title-bar navbar navbar-fixed-top navbar-light bg-faded">
				<h2>What's Up With{{#each currTopicParams}} {{this}}{{/each}}?</h2>
			</nav>
		</div>
		<div class="container" style="height:100%" align="center">
			<div class="content" >
				{{#each topics}}
					<div class="topic">
						<a href="{{../currTopicPath}}{{{title}}}" >
							<div class="bg-link">
							</div>
						</a>
						<div class="title">
							<a href="{{../currTopicPath}}{{{title}}}">
							<h2 class = "title1">{{title}}</h2>
							</a>
							<h2>
							<div class="modifier important">
								<span class="glyphicon glyphicon-plus"></span>
								<span class="badge">{{modifiers.important}}</span>
							</div>
							<div class="modifier agree">
								<span class="glyphicon glyphicon-thumbs-up"></span>
								<span class="badge">{{modifiers.agree}}</span>
							</div>
							<div class="modifier disagree">
								<span class="glyphicon glyphicon-thumbs-down"></span>
								<span class="badge">{{modifiers.disagree}}</span>
							</div>
							<div class="modifier unimportant">
								<span class="glyphicon glyphicon-remove-circle"></span>
								<span class="badge">{{modifiers.unimportant}}</span>
							</div>
							</h2>
						</div>
						{{#each topics}}
							<div class="subtopic">
								<a href="{{../currTopicPath}}{{../title}}/{{title}}" >
								<div class="bg-link">
								</div>
								<div class="title title1">
									{{{title}}}
								</div>
								<span class="badge">{{modifiers.important}}</span>
								</a>
							</div>
						{{/each}}
					</div>
				{{/each}}
			</div>
		</div>
		<div class="container">
			<nav class="button-bar navbar navbar-fixed-bottom navbar-light bg-light">
				<div class="button-col">
					<a href="{{prevTopicPath}}">
						<div class="bubble-button">
							<span class="glyphicon glyphicon-arrow-left"></span>
						</div>
					</a>
				</div>
				<div class="button-col">
					<a href="/">
						<div class="bubble-button">
							<span class="glyphicon glyphicon-home"></span>
						</div>
					</a>
				</div>
				<div class="button-col">
					<a href="/login">
						<div class="bubble-button">
							<span class="glyphicon glyphicon-user"></span>
						</div>
					</a>
				</div>
				<div class="button-col">
					<a href="{{currTopicPath}}newtopic">
						<div class="bubble-button">
							<span class="glyphicon glyphicon-plus"></span>
						</div>
					</a>
				</div>
			</nav>
		</div>
	</body>
	<script>

		$(".title1").each(function() {
	  		$(this).html($(this).html().replace(/%3F/g,'?'));
		});
	</script>
</html>